.container{
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.h1 {
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(188, 148, 226);
}